@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
body {
  background:url("red-orange-waves2.jpg");
}
hr {
  color:white;
  width: 600px;
  margin-top: 40px;
 
}
#project_title {
  font-family: Arial;
  font-weight: bold;
  font-size: 36px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  padding: 25px;
  text-align: center;
}
#move {
  font-family: Arial;
  font-weight: bold;
  font-size: 24px;
  color: white;
  margin-top: -20px;
  text-shadow: 2px 2px 4px #000000;
}
h3 {
  color: black;
  
}
nav {
  margin-bottom: -2.3rem;
}
.main {
  background:rgba(255,255,255,0.7);
  /*max-width: 2500px;
  height: 100%;*/
}
.col-sm p {
  color: black;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  padding: 10px;
  margin-bottom: 0px !important;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  color: purple;
  background-color: white;
}
.nav-pills, .nav-link.active:hover {
  color: black;
}
img {
  border: 1px solid black;
}
.profile {
  border: 1px solid rgba(255,255,255,0.0);
  padding: 25px;
  float: left;
}
form {
  /*border: 1px solid black;*/
  width: 100%;
  padding: 10px;
}
button {
  background-color: purple !important;
  border-color: 1px solid black !important;
}
footer {
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  margin-left: -15px;
  margin-right: -15px;
}
footer a {
  text-decoration: none;
  color: white;
}
footer a:hover {
  text-decoration: none;
  color: #ff91d1;
}
.slider {
  /* margin-top: 40px; */
  padding: 50px;
}
.carousel-inner {
  width: 80% !important;
}
.carousel-inner img {
    width: 100%;
}

#custCarousel .carousel-indicators {
    position: static;
    margin-top: 20px
}

#custCarousel .carousel-indicators li {
    width: 100px
}

#custCarousel .carousel-indicators li img {
    display: block;
    opacity: 0.5
}

#custCarousel .carousel-indicators li.active img {
    /* opacity: 1 */
}

#custCarousel .carousel-indicators li:hover img {
    opacity: 0.75
}

.carousel-item img {
    width: 70%
}
@media screen and (max-width:957px) { /* , (-webkit-min-device-pixel-ratio: 2)*/
  
}

@media screen and (max-width: 1823px){  /* , (-webkit-min-device-pixel-ratio: 2)*/
   
   
}

@media screen and (max-width: 1068px){  /* , (-webkit-min-device-pixel-ratio: 2)*/
    
 
}

@media screen and (max-width: 690px){  /* , (-webkit-min-device-pixel-ratio: 2)*/
  hr {
    max-width: 400px;
  }
  .profile {
  float: none;
  margin: 0px auto;
  }
  form {
    width: 80%;
  }
   .slider {
  /* margin-top: 40px; */
  padding: 20px;
}
.carousel-inner img {
    width: 150%;
 
}

#custCarousel .carousel-indicators {
    position: static;
    margin-top: 20px
}

#custCarousel .carousel-indicators li {
    width: 150px
}

#custCarousel .carousel-indicators li img {
    display: block;
    opacity: 0.5
}

#custCarousel .carousel-indicators li.active img {
    /* opacity: 1 */
}

#custCarousel .carousel-indicators li:hover img {
    opacity: 0.75
}

.carousel-item img {
    width: 160%
}
}
