@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
body {
  /*background:url("red-orange-waves2.jpg");*/
   background-color: #fff4f3;
}

#project_title {
  font-family: 'Handlee', cursive;
  font-size: 36px;
  color: #e38ead;
}
#move {
  font-family: 'Handlee', cursive;
  font-size: 36px;
  color: #e38ead;
  
}
h2 {
	font-size: 2rem;
	padding-top: 15px;
}
h3 {
  color: black;
  
}
.nav {
	display: block !important;
}
.main {
  background-color: #fff4f3;
  /*max-width: 2500px;
  height: 100%;*/
}
 p {
  color: black;
  font-family: 'Raleway', sans-serif;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 0px !important;
}

 a {
  text-decoration: none;
  color:#932668;
}
 a:hover {
  text-decoration: none;
  color: #ce3820;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  color: #ad5484;
  background-color: white;
  text-align:center;
  width:190px;
  margin-top:15px;
  border: 1px solid black;
  text-decoration:none;
}
.nav-pills, .nav-link.active:hover {
  color: black;
}
#mobile {
  display: none;
}
img {
  border: 1px solid black;
}
.profile {
  border: 1px solid rgba(255,255,255,0.0);
  padding: 25px;
  float: left;
}
form {
  /*border: 1px solid black;*/
  width: 100%;
  padding: 10px;
}

footer {
  background-color: #cf9484;
  padding: 10px;
}
footer a {
  text-decoration: none;
  color: black;
}
footer a:hover {
  text-decoration: none;
  color: #ce3820;
}
footer img {
	border: none;
	margin-top: 10px;
	margin-bottom: 15px;
}
footer p {
	font-family: Arial;
	font-style: italic;
	color: black;
	
}
.social {
	margin-right: 10px;
	text-align: center;
}
.social a {
	color: black;
}
.social a:hover {
	color: black;
}

#left {
	text-align: left;
	margin-left: 15px;
}
.left {
	text-align: left;
}
.desktop{
	font-weight: none;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
}

.slider {
  /* margin-top: 40px; */
  padding: 20px;

}
#landing {
	text-align: center;
}
.carousel-inner {	
  width: 80% !important;	
}	
.carousel-inner img {	
    width: 100%;	
}	

#custCarousel .carousel-indicators {	
    
    position: static;	
    margin-top: 20px	
}	

#custCarousel .carousel-indicators li {	
    width: 100px	
}	

#custCarousel .carousel-indicators li img {	
    display: block;	
    opacity: 0.5	
}	

#custCarousel .carousel-indicators li.active img {	
    opacity: 1 
}	


#custCarousel .carousel-indicators li:hover img {	
    opacity: 0.75	
}	

.carousel-item img {	
    width: 70%
}
#resumeM {
  display: none;
}
#resumeD {
	margin-left: 295px;
}

.carousel-control.left, .carousel-control.right {
	background-image: linear-gradient(to right,rgba(0, 0, 0, 0) 0,rgba(0,0,0,.0001) 100%);
}
.arrow {
	margin-top: -80px;
	border: none;
}
.arrow2 {
	display: none;
}
#dp {
	display: none;
}
#button1{
	display: none;
}
#button2 {
background-image: linear-gradient(to bottom, gray, black);
padding: 10px;
display: block;
width: 200px;
margin-top: 35px;
margin-left: auto;
margin-right: auto;
text-align: center;
border-radius: 20px;

}
#button2 a {
	color: white;
}
#button2 a:hover {
	color: #ce3820;
}
#button3 {
background-image:linear-gradient(to bottom, gray, black);
color: white;
text-align: center;
padding: 10px;
border-radius: 5px;
}
#button3:hover{
	color: #ce3820;
}
#mobilePics {
	display: none;
}
.dropdown {
	display: none;
}

#story {
	margin-top: 91px;
	padding: 5px;
}
@media screen and (max-width:870px) { /* , (-webkit-min-device-pixel-ratio: 2)*/
  .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    display: none;
  }
  .col-sm p {
	  margin-left: unset;
  }
  .dropdown {
  display:block;
  margin-top: 20px;
  margin-left: 10px;
  }
}

@media screen and (max-width: 990px){  /* , (-webkit-min-device-pixel-ratio: 2)*/
   .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    display: none;
  }
  .col-sm p {
	  margin-left: unset;
  }
   .dropdown {
	   display: block;
	   margin-top: 20px;
       margin-left: 10px;
   }
}

@media screen and (max-width: 1199px){  /* , (-webkit-min-device-pixel-ratio: 2)*/
    .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    display: none;
  }
  .col-sm p {
	  margin-left: unset;
  }
  .dropdown{
	  display: block;
	  margin-top: 20px;
      margin-left: 10px;
  }
  
 
}

@media screen and (max-width: 770px){  /* , (-webkit-min-device-pixel-ratio: 2)*/
hr {
    max-width: 400px;
}
#project_title {
  font-family: 'Handlee', cursive;
  font-size: 36px;
  color: #e38ead;
  text-align: center;
}
#move {
  font-family: 'Handlee', cursive;
  font-size: 36px;
  color: #e38ead;
  text-align: center;
  
}

.dropdown {
	display: block;

}

h3 {
    text-align: center;
}
#dp {
	  display: block;
}
#dp2 {
	  display: none;
}
.col-sm p {
	margin-left: unset;
}
.profile {
  float: none;
  margin: 0px auto;
  margin-left: 35px;
}
.slider {
	display: none;
}
.arrow2 {
	position: center;
	border: none;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
    margin-bottom: 5px;
	display: block;
}
#mobilePics {
	display: block;
}
#mobilePics img {
	width: 100%;
}
#button3 {
	position: absolute;
}

/*#button1 {
background-image: linear-gradient(to bottom, gray, black);
color: white;
padding: 10px;
display: block;
width: 100px;
margin-left: auto;
margin-right:auto;
text-align: center;
border-radius: 20px;

}
	
#button1:hover {
	color: #ce3820;
}*/

 #resumeD {
    display: none;
}
  #resumeM {
    display: block;
    width: 70%;
	margin-left: 70px;
  }
.ml-3, .mx-3 {
    margin-left: 3px !important;
}
.left {
	text-align: center;
}
#left {
	margin-left: unset;
	text-align: center;
}
.desktop {
	font-size: 14px;
}



